*{
    margin: 0px;
    padding: 0px;
}


header {
    width: 100%;
    overflow: hidden;
}

.cont-menu {
    max-width: 1140px;
    padding: 20px 0px;
    margin: 0px auto;
}

.wraper {
    width: 100%;
    height: auto;
}

.menu li {
  display: inline-block;
  padding: 10px 15px;
}

.menu li a{
 text-decoration: none;
 color: #9a9797;
}

.menu li a:hover{
 color: #5881bd;
}

.menu {
    padding: 10px 0px;
    font-family: 'Montserrat', sans-serif;
}

.menu li .icons {
    float: left;
    padding: 0px 10px;
}

.menu li .icons img{
    width: 100%;
    height: 100%;
}

.valign {
    vertical-align: middle;
}

.icons-social {
    float: left;
    padding: 0px 5px;
}

.slide-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-slide {
    width: 100%;
    margin-bottom: -4px;
}

.cont-slide img{
    width: 100%
}

.cont-logo {
    position: absolute;
    max-width: 284px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
}

.cont-text-slide {
    max-width: 500px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
}

.menu li .active {
    color:#5881bd;
    font-weight: 800;
}

.gray {
    color: #9a9797
}

.blue {
    color: #5881bd;
}

.fs45 {
    font-size: 3.5rem;
}

.grafito {
    color: #222e38;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.fs13 {
    font-size: 1.3rem;
}

.light {
    font-weight: 300;
}

.fs20 {
    font-size: 1.5rem;
}

.fs35 {
    font-size: 2.5rem;
}


.globo-ayuda {
    width: 25%;
    position: absolute;
    bottom: -25px;
    left: 60px;
}

.globo-ayuda img{
   width: 100%;
}

.plazas-section {
    width: 100%;
    background: #222e38;
    height: auto;
    padding: 30px 0px;
}

.content-plazas {
    width: 700px;
    height: auto;
    margin: 0px auto;
    text-align: center
}

.white {
    color: #fff;
}

.square-section {
    width: 100%;
    height: auto;
    display: flex;
}

.square {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.square-block {
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
}



.cont-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtop40 {
    margin-top: 40px;
}

.mright10 {
    margin-right: 10px;
}

.mleft10 {
    margin-left: 10px;
}

.cont-square {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
}

.img100 {
    width: 100%;
}

.foot-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0px;
}

.cont-footer {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.cont-logo-footer {
    
}

.cont-text-footer {
    margin: 10px 0px;
}

.dflex {
    display: flex;
}

.cont-redes {
    width: 80px;
    margin: 0px auto;
}

.cont-redes div{
   padding: 0px 5px;
}

.mtop80 {
    margin-top: 80px;
}

.full-flex {
    width: 100%;
    height: auto;
    display: flex;
}

.cont-slide-plaza {
    width: 95%;
    margin: 0px auto;
    position: relative;
}

.cont-slider {
    height: 300px !important;
    
}

.fs20 {
    font-size: 2rem;
}

.align-left {
    text-align: left !important;
}

.back-blue {
    background: #222e38;
}

.divition {
    display: block;
    height: 50%;
    
}

.dflexcenter {
    display: flex;
    align-items: center;
}

.dark-blue {
    color:  #222e38;
}

.cont-divition {
    width: 75%;
}

.padding20 {
    padding-top: 20px;
    padding-left: 20px;
}

.fs10 {
    font-size: 1rem;
}

.container-dats {
    
}

.cont-dots {
    position: absolute;
    bottom: 50px;
    left: 200px;
    z-index: 10000;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: none;
}

button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}

.owl-dot.active > span{
  background: #5881bd;
  width: 15px;
  height: 15px;
    
}

.cont-map {
    width: 100%;
    height: 400px;
    
}

#map {
    width: 100%;
    height: 400px;
    overflow: visible;
    
}


.txtcenter {
    text-align: center
}

.mtop20 {
    margin-top: 20px;
}

.back-clear-blue {
    background: #5c92c7;
}

.planes-section {
    padding-top: 40px;
    padding-bottom: 70px;
}

.contain-content-planes {
    margin: 0px auto;
    width: 90%;
}

.cont-tabs {
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
    padding: 20px;
    background: white;
    font-size: 1.5rem;
    color: #5c92c7;
    font-weight: 700;
}

.img-plan img{
    width: 100%;
}

.img-plan {
    width: 40%;
    position: relative;
}

.cont-info-tabs {
    max-width: 900px;
    height: auto;
    padding: 60px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 0px;
    
}

#tab2 {
    display: none;
}

.text-top {
    font-size: 1.4rem;
     color: #9a9797
    
}
