*{
    margin: 0px;
    padding: 0px;
}


header {
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.cont-menu {
    max-width: 1140px;
    padding: 20px 0px;
    margin: 0px auto;
}

.menu-fixed {
	position:fixed;
	z-index:100000;
	top:0;
    left: 0px;
    right: 0px;
    margin: auto;
	box-shadow:0px 1px 1px rgba(0,0,0,.5);
    padding: 0px;
    -webkit-transition: padding 0.3s; /* Safari */
    transition: padding 0.3s;
}

.menu-fixed .menu{
    padding: 0px;
}

.menu-fixed .cont-menu{
    padding: 0px;
    -webkit-transition: padding 0.3s; /* Safari */
    transition: padding 0.3s;
}

.menu-fixed + .sticky-sec{
    padding-top: 140px;
}

.wraper {
    width: 100%;
    height: auto;
}

.menu li {
  display: inline-block;
  padding: 10px 5px;
}

.menu li a{
 text-decoration: none;
 color: #9a9797;
}

.menu li a:hover{
 color: #5881bd;
}

.menu {
    padding: 10px 0px;
    font-family: 'Montserrat', sans-serif;
}

.menu li .icons {
    float: left;
    padding: 0px 10px;
}

.menu li .icons img{
    width: 100%;
    height: 100%;
}

.valign {
    vertical-align: middle;
}

.icons-social {
    float: left;
    padding: 0px 5px;
}

.slide-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-section .item{
    width: 100%;
    height: 538px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.cont-slide {
    width: 100%;
    background-image: url('../img/home/slide-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 538px;
}

.cont-slide-grupo {
    width: 100%;
    background-image: url('../img/planes/slide.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 538px;
}

.cont-slide-quienes {
    width: 100%;
    background-image: url('../img/grupo/slide.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 538px;
}

.cont-slide img{
    width: 100%
}

.cont-logo {
    position: absolute;
    width: 378px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
}

.cont-text-slide {
    max-width: 600px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    z-index: 1;
}

.menu li .active {
    color:#5881bd;
    font-weight: 800;
}

.gray {
    color: #9a9797;
}

.blue {
    color: #5881bd;
}

.blue-up{
    color:#0d57a8;
}

.fs45 {
    font-size: 4.5rem;
}

.grafito {
    color: #222e38;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.fs13 {
    font-size: 1.3rem;
}

.light {
    font-weight: 300;
}

.fs20 {
    font-size: 2.0rem;
}

.fs35 {
    font-size: 3.5rem;
}


.globo-ayuda {
    width: 25%;
    position: absolute;
    bottom: -25px;
    left: 60px;
    z-index: 1;
}

.globo-ayuda img{
   width: 100%;
}

.plazas-section {
    width: 100%;
}

.content-plazas {
    width: 700px;
    height: auto;
    margin: 0px auto;
    text-align: center
}

.white {
    color: #fff;
}

.square-section {
    width: 100%;
    height: auto;
    display: flex;
}

.square {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.square-block {
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
}



.cont-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtop40 {
    margin-top: 40px;
}

.mright10 {
    margin-right: 10px;
}

.mleft10 {
    margin-left: 10px;
}

.cont-square {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
}

.img100 {
    width: 100%;
}

.foot-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0px;
}

.cont-footer {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.cont-logo-footer {
    
}

.cont-text-footer {
    margin: 10px 0px;
}

.dflex {
    display: flex;
}

.cont-redes {
    width: 80px;
    margin: 0px auto;
}

.cont-redes div{
   padding: 0px 5px;
}

.mtop80 {
    margin-top: 80px;
}

.full-flex {
    width: 100%;
    height: auto;
    display: flex;
}

.cont-slide-plaza {
    width: 95%;
    margin: 0px auto;
    position: relative;
}

.cont-slider {
    height: 300px !important;
    
}

.fs20 {
    font-size: 2rem;
}

.align-left {
    text-align: left !important;
}

.back-blue {
    background: #222e38;
}

.divition {
    display: block;
    height: 50%;
    
}

.dflexcenter {
    display: flex;
    align-items: center;
}

.dark-blue {
    color:  #222e38;
}

.cont-divition {
    width: 75%;
}

.padding20 {
    padding-top: 20px;
    padding-left: 20px;
}

.fs10 {
    font-size: 1rem;
}

.container-dats {
    
}

.cont-dots {
    position: absolute;
    bottom: 50px;
    left: 200px;
    z-index: 100;
}

.cont-slide .cont-dots {
    position: absolute;
    bottom: 50px;
    text-align: center;
    z-index: 10000;
    left: 0px;
    right: 0px;
}

.cont-slide .owl-dots .owl-dot span {
    background: #fff;
}

.cont-slide .owl-dot.active > span{
  background: #0d57a8;
  width: 15px;
  height: 15px;
    
}


.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: none;
}

button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}

.owl-dot.active > span{
  background: #5881bd;
  width: 15px;
  height: 15px;
    
}

.cont-map {
    width: 100%;
    height: 400px;
    
}

#map {
    width: 100%;
    height: 400px;
    overflow: visible;
    
}


.txtcenter {
    text-align: center
}

.mtop20 {
    margin-top: 20px;
}

.back-clear-blue {
    background: #5c92c7;
}

.planes-section {
    padding-top: 40px;
    padding-bottom: 70px;
    background: #96c0c9;
}

.contain-content-planes {
    margin: 0px auto;
    width: 90%;
}

.cont-tabs {
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
    padding: 15px;
    background: #fff;
    font-size: 1.1rem;
    color: #96c0c9;
    font-weight: 700;
    cursor: pointer;
}

.img-plan img{
    width: 100%;
}

.img-plan {
    width: 40%;
    position: relative;
}

.cont-info-tabs {
    max-width: 600px;
    height: auto;
    padding: 40px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: -650px;
    
}

#tab2 {
    display: none;
}

.text-top {
    font-size: 1.4rem;
     color: #9a9797
    
}

.cont-tabs-info {
    width: 100%;
    margin-top: 20px;
    
}

.tabs-info {

}

.tab-info {
    display: inline-block;
    padding: 15px;
    background: #96c0c9;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.tab-info.active {
    background: #9a9797;
    color: #222e38; 
    padding-top: 20px;
}

.mleftl4 {
    margin-left: -5px;
}

.content-tab-info {
    padding: 15px;
    background: #222e38;
    
}

.tabs-infos {
    padding: 15px;
}

.tab.active {
    background: #222e38;
    color: #fff;
}


.btn-shopy {
    width: 150px;
    padding-top: 20px;
}

.btn-shopy a img{
    width: 100%;
}

.blue-low {
    color: #96c0c9;
}

.slide-home {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
}

.cont-img-slide {
    width: 100%;
    height: auto;
}

.cont-img-slide img{
    width: 100%;
}



.cont-block-slide {
    position: absolute;
    display: flex;
}

.back-white {
    background: #fff;
    padding: 10px;
}

.medium {
    font-weight: 500;
}

.block-slide {
   width: 360px;
    height: auto;
    padding: 0px 70px;
}

.block-slide div{
    margin-top: 10px;
}

.fs12 {
    font-size: 1.2rem;
}

.fs21 {
    font-size: 2.1rem;
}

.mtop10 {
    margin-top: 10px;
}



.heigth90 {
    height: 130px;
}

.columns {
    width: 40%;
    height: auto;
}

.cont-titulo-columns {
    text-align: center;
    padding: 20px 0px;
    color: #515151;
}

.rose {
    background: #dfd4d2;
}

.cont-columns {
    padding: 15px;
    padding-bottom: 60px;
}

.back-blue1 {
    background: #a0dbe5;
}

.img-colum {
    width: 100%;
}

.img-colum img{
    width: 100%;
}

.rose2 {
    background: #d4c8c7;
}

.rose3 {
    background: #dfd4d2;
}

.back-blue3 {
    background: #bed4eb;
}

.back-blue2 {
    background: #d4f9ff;
}

.section-asociados {
    margin-top: 30px;
}

.normal {
    font-weight: 400;
}

.content-asociados {
    width: 95%;
    margin: 0px auto;
}

.txtleft {
    text-align: left;
}

.fs15 {
    font-size: 15px;
}

.fs11 {
    font-size: 1.1rem;
}

.pleft15 {
    padding-left: 15px;
}

.square-noflex {
    width: 50%;
    height: auto;
    
}

.semi-bold {
    font-weight: 600;
}

.pdg10 {
    padding: 10px;
}

.square-asociados img{
    width: 100%;
}

.flex {
    display: flex;
}

.cont-img-quienes {
    width: 50%;
}

.cont-img-quienes img{
    width: 100%;
}

.content-quienes-somos {
    width: 1130px;
    margin: 0px auto;
}

.cont-info-quienes {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 270px;
}

.info-quienes {
    position: absolute;
    right: -30px;
    padding: 15px;
    width: 400px;
    background: #fff;
}

.info-valores {
    position: absolute;
    left: -30px;
    padding: 35px;
    width: 600px;
    background: #fff;
}

.fs30 {
    font-size: 2.8rem;
}

.mtop15 {
    margin-top: 25px !important;
}

.content-tabs-quienes {
    display: flex;
}

.tab-quienes {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.tab-quienes.active {
    background: #96c0c9 !important;
    color: #fff !important;
}

.back-light-gray {
    background: #efefef;
}

.back-gray {
    background: #e4e7e1;
}


.cont-tabs-quienes {
    margin-top: 20px;
}

.contain-tabs-quienes {
    padding: 20px;
    background: #212c37;
    color: #fff;
    font-weight: 200;
}

.con-tabs-quienes {
    font-weight: 300;
}

.con-tabs-quienes ul {
    padding-left: 15px;
}

.cont-globo {
    background: #0d57a8;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    font-weight: 800;
    padding: 10px 20px;
    font-size: 1.4rem;
    
}

.general-section {
    width: 100%;
    height: auto;
    
}

.velatorios {
    background: url(../img/home/velatorios/image-01.png);
    background-size: 100% 100%;
    height: 324px;
}

.productos {
    background: url(../img/home/productos/image-03.png);
    background-size: 100% 100%;
    height: 324px;
}

.servicios {
    background: url(../img/home/servicios/image-02.png);
    background-size: 100% 100%;
    height: 324px;
}
.section-nichos {
    width: 100%;
    height: auto;
    background: #e4e7e1;
    padding-top: 10px;
    padding-bottom: 40px;
}

.pink {
    color: #c7b5b8;
}

.cont-info-nichos {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 452px;
}

.info-nichos {
    position: absolute;
    left: -30px;
    padding: 35px;
    width: 600px;
    background: #212c37;
}

.blue-light {
    color: #96c0c9;∫
}
