*{
    margin: 0px;
    padding: 0px;
}


header {
    width: 100%;
    overflow: hidden;
}

.cont-menu {
    max-width: 1140px;
    padding: 20px 0px;
    margin: 0px auto;
}

.wraper {
    width: 100%;
    height: auto;
}

.menu li {
  display: inline-block;
  padding: 10px 20px;
}

.menu {
    padding: 10px 0px;
    font-family: 'Montserrat', sans-serif;
}

.menu li .icons {
    float: left;
    padding: 0px 10px;
}

.menu li .icons img{
    width: 100%;
    height: 100%;
}

.valign {
    vertical-align: middle;
}

.icons-social {
    float: left;
    padding: 0px 5px;
}

.slide-secc {
    width: 100%;
    height: auto;
    position: relative;
}

.principal-img {
    width: 100%;
}

.principal-img img{
    width: 100%;
}

.cont-logo {
    max-width: 284px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
}
